@charset "UTH-8";
.h03_01{
    color: grey;
    margin-left: 20px;
    font-size: 30px;
}

.p03_01{
    text-align: center;
    font-size: 20px;
}

article{
    background-color: springgreen;
}

section{
    background-color: aqua;
}